In [ ]:
import pandas as pd
import numpy as np

## Dataset: train.csv
The training data, comprising daily time series data with the sales (Umsatz) for each product category (Warengruppe).

id is a unique identifier for the recorded sales.

Datum gives the date of the recorded sales.

Warengruppe identifies the product categories according to following scheme:
1: Bread
2: Rolls
3: Croissant
4: Confectionery
5: Cake
6: Seasonal Bread

Umsatz gives the total sales for a product category at a given date.

In [26]:
train_data = pd.read_csv("D:/Github/Bakery_sales_prediction_2025/bakery-sales-prediction-summer-2025-Dataset/train.csv")
train_data = train_data.rename(columns={
    "id": "ID",
    "Datum": "Date",
    "Warengruppe": "Product_Category",
    "Umsatz": "Sales_EUR"
})
train_data

           ID        Date  Product_Category   Sales_EUR
0     1307011  2013-07-01                 1  148.828353
1     1307021  2013-07-02                 1  159.793757
2     1307031  2013-07-03                 1  111.885594
3     1307041  2013-07-04                 1  168.864941
4     1307051  2013-07-05                 1  171.280754
...       ...         ...               ...         ...
9329  1712216  2017-12-21                 6   87.471228
9330  1712226  2017-12-22                 6   71.911652
9331  1712236  2017-12-23                 6   84.062223
9332  1712246  2017-12-24                 6   60.981969
9333  1712276  2017-12-27                 6   34.972644

[9334 rows x 4 columns]

In [27]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9334 entries, 0 to 9333
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                9334 non-null   int64
 1   Date              9334 non-null   object
 2   Product_Category  9334 non-null   int64
 3   Sales_EUR         9334 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 291.8+ KB

In [23]:
train_data.isnull().sum()

ID                  0
Date                0
Product_Category    0
Sales_EUR           0
dtype: int64

In [28]:
weather_data = pd.read_csv("D:/Github/Bakery_sales_prediction_2025/bakery-sales-prediction-summer-2025-Dataset/wetter.csv")

weather_data = weather_data.rename(columns={
    "Datum": "Date",
    "Bewoelkung": "Cloud_Coverage",
    "Temperatur": "Temperature_C",
    "Windgeschwindigkeit": "Wind_Speed_mps",
    "Wettercode": "Weather_Code"
})

weather_data

            Date  Cloud_Coverage  Temperature_C  Wind_Speed_mps  Weather_Code
0     2012-01-01             8.0         9.8250              14          58.0
1     2012-01-02             7.0         7.4375              12           NaN
2     2012-01-03             8.0         5.5375              18          63.0
3     2012-01-04             4.0         5.6875              19          80.0
4     2012-01-05             6.0         5.3000              23          80.0
...          ...             ...            ...             ...           ...
2596  2019-07-28             3.0        23.3500              14           5.0
2597  2019-07-29             6.0        25.2500               7          61.0
2598  2019-07-30             7.0        20.7375               8          61.0
2599  2019-07-31             6.0        20.4500               7          61.0
2600  2019-08-01             5.0        21.0625               9          61.0

[2601 rows x 5 columns]